# Server Configuration
PORT=3001

# Cloudinary Configuration
PORT=5001
MONGO_URI=mongodb+srv://Amarabangs:Superbangura1995@cluster0.qkk94wc.mongodb.net/edushare?retryWrites=true&w=majority
JWT_SECRET=edushare_secret_key_2026
CLOUDINARY_CLOUD_NAME=dq92kqeop
CLOUDINARY_API_KEY=gj3RiXutmGPaSBUQa91VaPFWBVw
CLOUDINARY_API_SECRET=LfEGVVLn9ai0_eSWXz29gOGbWEQ
NODE_ENV=development
GCP_API_KEY=your-api-key-here

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
